{% extends 'base.html' %}
{% block content %}
<h2>Merhaba {{ user.username }} 👋</h2>
<div class="grid cats">
  <a class="chip float" href="{{ url_for('room', code='3050', lang=lang) }}">🍖 Et & Mangal</a>
  <a class="chip float" href="{{ url_for('room', code='3050', lang=lang) }}">🥗 Salatalar</a>
  <a class="chip float" href="{{ url_for('room', code='3050', lang=lang) }}">🥐 Hamurişi</a>
  <a class="chip float" href="{{ url_for('room', code='3050', lang=lang) }}">🍰 Tatlı</a>
  <a class="chip float" href="{{ url_for('room', code='3050', lang=lang) }}">🥤 İçecek</a>
  <a class="chip float" href="{{ url_for('room', code='3050', lang=lang) }}">🧂 Diğer</a>
</div>
<div class="row"><a class="btn" href="{{ url_for('logout', lang=lang) }}">{{ t('logout') }}</a></div>
{% endblock %}
